* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url('images/payson-wick-vGLXKqCY66Y-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
        
}
.grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 10px;
}
.grid-box{
    min-width: 240px;
    border: #eeeeee solid 10px;
    margin: 10px;
    padding: 20px;
    background-color: #cccccc;
}

/* ~ Painting Filter Styling ~ */

.filter-input{
    position: relative;
    width: 55%;
    height: 30px;
}
.filter-label{
    font-weight: bold;
}
h2{
    margin-left: 10%;
}
#title{
    left: 58px;
}
#artist{
    left: 50px;
}
#gallery{
    left: 39px;
}
#before-text{
    left: 25px;
}
#after-text{
    left: 37px;
}
#between-text{
    left: 12px;
}
.filter-button{
    position: relative;   
}


/* ~ Display Paintings Style ~ */

.left{
    text-align: left;
}

.table{
    width: 100%;
}

td{
    padding-left: 5px;   
}

.table-img{
    width: 50px;

}

.atf-button, .view-button{
    color:white;
    border: black solid 1px;
    border-radius: 5px;
    padding: 5px;
    background: #55c;

}
.atf-button:hover, .view-button:hover{
    color:lightskyblue;
    cursor: pointer;
}
