body {
    margin: 40px;
    background-color: #e9e9e9;
    font-family: Open Sans, sans-serif;
    font-size: 0.9rem;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 20rem 25rem auto;
  color:#000000;
}

.box {
    min-width: 240px;
    border: #eeeeee solid 10px;
    margin: 10px;
    padding: 20px;
    background-color: #cccccc;
}

.head { 
    grid-column: 1 / span 4; 
    grid-row: 1;
}

.b {
    display: block;    
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
}

.a {
    display: block; 
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

.c {
  display: block;    
  grid-column: 4 / span 1;
  grid-row: 2 / span 3;
}

.d {
  display: block;
  grid-column: 2 / span 2;
  grid-row: 3;
}

.e {
  display: none; 
  grid-column: 1 / span 4;
  grid-row: 2 / span 3;
}

ul#galleryList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#galleryList li {
    margin-bottom: 0.25rem;
    cursor: pointer;
}

ul#uList2 li { 
    margin-bottom: 10px;
}

section { 
   background-color: #cfcfcf;
   border-radius: 5px;
   padding: 20px;
}

div.a section {
    display: block;		/* programmatically change this to "grid" when gallery clicked */
    margin-top:20px;
    grid-gap: 5px;
    grid-template-columns: 10rem auto;
}

#galleryName { 
    justify-content: center; 
}

div.b section {
    display: block;	  /* go ahead and change this to "block" when you have received data */
}

div.c section {
    display: block;    /* programmatically change this to "block" when gallery clicked */
}

div.d section {
    display: block;    /* programmatically change this to "block" when gallery clicked */
}

div.e section { 
    display: block;
}

#map  {
     height: 500px; 
     margin: 30px auto auto auto; 
}

table {
    width: 100%;    
}

tr#tableHeading { 
    text-align: left; 
}

th:hover { 
    cursor: pointer;
} 

.link:hover { 
    cursor: pointer;
    opacity: 0.8;
}

#txtBody { 
    background-color: #cfcfcf;
    border-radius: 5px;
    padding: 20px;
    align-content: center;
    padding-top: 20px; 
    padding-left: 500px;
}

#medImg {   
    float: left;
    margin: 20px; 
}

#medImg:hover { 
    cursor: pointer;
    opacity: 0.8;
}

ul {
    list-style-type: none;
}

.colorBox { 
    display: inline-block;
    width: 100px; 
    height: 100px;  
    margin: 10px 2px 2px 2px;
}

#close { 
    display: block; 
    background-color: cadetblue;
    color: white;
    position:relative;
    left: 90%;
    margin-top: 9%;
}

#close:hover { 
    cursor: pointer;
}
