body{
    margin: 50px auto;
    text-align: center;
    width: 100%;
}
.boxStuff {
    border: #eeeeee solid 10px;
    text-align: center;
    margin: 10px;
    padding: 5px 20px;
    background-color: #cccccc;
}
.row {
    display: flex;
    height:700px;	
}
.row1 {
    display: block;
    border:5px solid white;
    height:400px;
    text-align:center;
}
.row2 {
    display: flex;
    border:5px solid white;
    height:300px;
}
.row3 {
    display: flex;
    height:150px;
    text-align:center;
}
.row4 {
    display: flex;
    border-top:10px solid white;
    height:300px;
}
h1{
    
    margin:15px auto;
}
#c {
    flex: 50%;
    
    background-color:lightgrey;
}
.column1 {
    border:10px solid white;
      
}
.column2 {
    border:15px solid white;
    }
input {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 1em;
    font-size: 1.5rem;
    margin:10 180;
    font-family:sans-serif;
    padding: 10px;
    
    
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 300px 400px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 10px;
    margin: 20px;
}
#userinfo{
    grid-row-start: 1;
    grid-row-end: 3;
}
#favourites{
    grid-row-start: 3;
    grid-row-end: 7;
}
#search{
    grid-row-start: 1;
    grid-row-end: 2;
}
#maylike{
    grid-row-start: 2;
    grid-row-end: 7;
}